
/* Header Sito */

header{
    background-color: rgba(255, 50, 50, 0.781);
    background-image: url('./img/pattern.png');
}

.logo{
    width: 13%;
    padding-left: 230px;
    padding-bottom: 20px;
    padding-top: 80px;
}

/* Posizione Container principale */

.container{
    width: 75%;
    margin: 0px auto;
}

/* Tema Dark */

body{
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
}

/* Main Section */

main{
    padding-left: 15px;
    padding-right: 15px;
}


.titolo{
    color: lightgreen;
}

.titolo1{
    color: lightgreen;
    font-size: 15px;
    margin-bottom: 20px;
}
.foto{
    font-size: 10px;
}

ul{
    padding-left: 0px;
    list-style-position: inside;
    margin-top: 50px;
    margin-bottom: 50px;
}


table{
    border-collapse: collapse;
    width: 100%;
}

td{
    padding: 20px;
    width: 15%;
}

.row1{
    background-color: navy;
    color: white;
}

.row2{
    background-color: rgb(64, 64, 250);
}

.row3{
    background-color: rgba(173, 216, 230, 0.534);
}

